swagger: "2.0"
info:
  title: Denki Carbon API
  description: The API behind denkicarbon.jp
  version: 1
host: apitest.denkicarbon.jp
schemes:
  - https
produces:
  - application/json
x-google-backend:
  address: https://us-central1-japan-grid-carbon-api-staging.cloudfunctions.net/api
  protocol: h2
  path_translation: APPEND_PATH_TO_ADDRESS
paths:
  /v1/carbon_intensity/forecast/{utility}:
    get:
      summary: Get Forcast Predictions for Carbon Intensity for a given utility
      operationId: carbon_intensity_prediction
      parameters:
        - $ref: "#/components/parameters/utility"
      responses:
        "200":
          description: Forcast for 2500 hours ahead of the previously available data
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  forecast:
                    type: array
                    items:
                      type: object
                      properties:
                        forecast_timestamp:
                          type: string
                          example: "2020-11-01 00:00:00+00:00"
                        forecast_value:
                          type: number
                          example: 657.4459274930311
                        standard_error:
                          type: number
                          example: 5.552266591154512
                        confidence_level:
                          type: number
                          example: 0.95
                        prediction_interval_lower_bound:
                          type: number
                          example: 646.5831505932923
                        prediction_interval_upper_bound:
                          type: number
                          example: 657.4459274930311
                        confidence_interval_lower_bound:
                          type: number
                          example: 646.5831505932923
                        confidence_interval_upper_bound:
                          type: number
                          example: 668.30870439277
              fromCache:
                type: boolean
        "400":
          description: Invalid Utility Specified

  /v1/carbon_intensity/average/{utility}:
    get:
      summary: Average Intensity for each hour of the day. Based on historical data for a given utility.
      operationId: average_intensity
      parameters:
        - $ref: "#/components/parameters/utility"
      responses:
        "200":
          description: Average carbon intensity for a given day. Hours go from 0-23.
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  carbon_intensity_by_hour:
                    type: array
                    items:
                      $ref: "#/definitions/averageCarbonIntensityForDay"
              fromCache:
                type: boolean
        "400":
          description: Invalid Utility Specified

  /v1/carbon_intensity/average/year/{utility}:
    get:
      summary: Average Intensity for each hour of the day, across a given breakdown. Based on historical data for a given utility.
      operationId: average_intensity_breakdown
      parameters:
        - $ref: "#/components/parameters/utility"
      responses:
        "200":
          description: Average carbon intensity for a given day. Hours go from 0-23.
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  carbon_intensity_by_year:
                    type: object
                    properties:
                      <year>:
                        type: array
                        items:
                          $ref: "#/definitions/averageCarbonIntensityForDay"
              fromCache:
                type: boolean
        "400":
          description: Invalid Utility Specified

definitions:
  averageCarbonIntensityForDay:
    type: object
    properties:
      hour:
        type: integer
        example: 0
      carbon_intensity:
        type: number
        example: 674.2050851161346

components:
  parameters:
    utility:
      in: path
      name: utility
      type: string
      required: true
      description: String of the utility to get information for
      pattern: ^cepco|chuden|hepco|kepco|kyuden|okiden|rikuden|tepco|tohokuden|yonden$
