attrs==19.3.0
autopep8==1.5.3
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cloudevents==0.3.0
cycler==0.10.0
Flask==1.1.2
functions-framework==2.0.0
google-api-core==1.21.0
google-auth==1.18.0
google-auth-oauthlib==0.4.1
google-cloud-bigquery==1.25.0
google-cloud-bigquery-storage==1.0.0
google-cloud-core==1.3.0
google-cloud-firestore==1.7.0
google-cloud-storage==1.29.0
google-resumable-media==0.5.1
googleapis-common-protos==1.52.0
grpcio==1.30.0
gunicorn==20.0.4
httplib2==0.19.0
httplib2shim==0.0.3
idna==2.10
importlib-metadata==1.7.0
iniconfig==1.0.1
itsdangerous==1.1.0
Jinja2==2.11.3
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.2
more-itertools==8.4.0
numpy==1.19.0
oauthlib==3.1.0
packaging==20.4
pandas==1.0.5
pandas-gbq==0.13.2
pathtools==0.1.2
pluggy==0.13.1
protobuf==3.12.2
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pydata-google-auth==1.1.0
pyparsing==2.4.7
pytest==6.0.1
pytest-mock==3.2.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
requests-mock==1.8.0
requests-oauthlib==1.3.0
rsa==4.7
six==1.15.0
toml==0.10.1
tqdm==4.50.2
urllib3==1.26.5
watchdog==0.10.3
Werkzeug==1.0.1
xlrd==1.2.0
zipp==3.1.0
